[Unit]
Description=webserver service
Requires=network-online.target docker.service
After=network-online.target docker.service
[Service]
ExecStop=/usr/bin/docker stop %p
ExecStartPre=-/usr/bin/docker rm %p
Restart=on-failure
RestartSec=30
TimeoutStartSec=0
TimeoutStopSec=0
ExecStart=/usr/bin/docker run --name %p \
    --net="csec731" \
    --ip="172.1.1.100" \
    -p 8080:80 \
    -p 8443:443 \
    ubuntu-webserver:latest
[Install]
WantedBy=multi-user.target